.search {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  @include breakpoint(medium) {
    height: 100vh;
  }
}

.searchBar {
  height: 60px;
  width: 100%;
  padding: 0 12px;
  border: 1px solid transparent;
  border-bottom: 1px solid #3c3c3c;
  box-shadow: 0 2px 6px #3c3c3c;
  font-size: 1em;
  outline: none;
}

.searchResult{
  overflow: auto;
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}

.showResult {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  a {
    color:white;
  }

  @include breakpoint(medium) {
    display: none;
  }
}

.searchOptions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 5px;
  color: white;

  &__text {
    margin-right: 5px;
    font-size: 0.8em;
  }

  &__10 {
    color:#9d9d9d;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 0.7em;
    text-align: center;
    padding: 3px;
    margin: 0 5px;
    flex-basis: 100px;
    a {
      // height: 80%;
      width: 100%;
      text-decoration: none;
      color:#9d9d9d;
    }
  }

  &__radius {
      width: 100%;
      color:white;
      padding: 3px;
      border: 1px solid transparent;
      border-bottom: 1px solid white;
      background-color: rgba(255,255,255,0.1);
      outline: none;

      &::placeholder {
        color:white;
      }
    }
}

.display {
  display: block;
}
