@import 'foundation_settings';
@import 'foundation';
@include foundation-flex-grid;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #3c3c3c;
}

.main-container {
  height: 100vh;
  max-width: none;
}

@import 'map';
@import 'restaurant';
@import 'searchbar';
